<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" 
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title><ui:insert name="ttitle">Memoriam</ui:insert></title>
	<h:outputStylesheet library="bootstrap" name="css/bootstrap.css" target="head" />
	<h:outputStylesheet library="css" name="memoriam.css" target="head" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<h:outputScript library="bootstrap" name="js/bootstrap.min.js" target="body"/>
</h:head>

<h:body>
	<ui:insert name="theader">
		<ui:include src="_header.xhtml" />
	</ui:insert>

	<div class="container" style="margin-top:50pt;">
		<ui:insert name="tbody">
			Conteúdo vazio! Defina uma área tbody no documento com &lt;ui:define&gt;.
		</ui:insert>
	</div>
</h:body>

</html>
