<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Titulo</title>
</h:head>
<h:body>
<ui:composition template="/template/_template.xhtml">
	<ui:define name="ttitle">Consulta de operadoras</ui:define>
	
	<ui:define name="tbody">
		<div class="jumbotron">
			<h:form id="formConCtt">
				<h2>Memori<i class="glyphicon glyphicon-phone"></i>m</h2>
				
				<h:messages errorStyle="color:red" infoStyle="color:blue" layout="table"/>

				<h:dataTable var="operadora" value="#{operadoraBean.operadoras}" styleClass="table table-hover"
					headerClass="thead-inverse">
					<h:column>
						<f:facet name="header">Nome</f:facet>
						<h:commandLink action="#{operadoraBean.editar(operadora)}" value="#{operadora.nome}"/>
					</h:column>
					
					<h:column>
						<f:facet name="header">Prefixo</f:facet>
						#{operadora.prefixo}
					</h:column>
				</h:dataTable>
				
				<p:commandButton id="bt_novoctt" action="/operadora/cadastro?faces-redirect=true" value="Nova" icon="remove" styleClass="form-control btn btn-primary" />
			
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</h:body>
</html>
