<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Titulo</title>
</h:head>
<h:body>
<ui:composition template="/template/_template.xhtml">
	<ui:define name="ttitle">Consulta de contatos</ui:define>
	
	<ui:define name="tbody">
		<div class="jumbotron">
			<h2>Memori<i class="glyphicon glyphicon-phone"></i>m</h2>

			<h3>Dados do Contato</h3>
				
			<h:messages errorStyle="color:red" infoStyle="color:blue" layout="table"/>
			<h:form id="formCadCtt" styleClass="form-horizontal">
				<h:inputText id="nome" value="#{contatoBean.contato.nome}" styleClass="form-control" required="true" requiredMessage="Nome é obrigatório" pt:placeholder="Nome"/>
				<h:inputText id="fone" value="#{contatoBean.contato.fone}" styleClass="form-control" required="true" requiredMessage="Fone é obrigatório" pt:placeholder="Fone"/>
				<h:inputText id="dataAniv" value="#{contatoBean.contato.dataAniversario}" styleClass="form-control" required="true" requiredMessage="Data de aniversário é obrigatória" pt:placeholder="Data aniversário">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputText>			
				<h:selectOneMenu id="operadoras" value="#{contatoBean.contato.operadora}" required="true" requiredMessage="Operadora é obrigatória" styleClass="form-control">
					<f:converter converterId="OperadoraConverter"/>
					<f:selectItem noSelectionOption="true" itemLabel="Selecione..." itemValue="#{null}"/>
					<f:selectItems value="#{utilBean.operadoras}" var="operadora" itemLabel="#{operadora.nome}" itemValue="#{operadora}"/>
				</h:selectOneMenu>									
				<h:commandButton id="bt_novoctt" action="#{contatoBean.salvar}" value="Salvar" styleClass="form-control btn btn-primary" />
			
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</h:body>
</html>
