<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Memoriam - Login</title>
	<h:outputStylesheet library="bootstrap" name="css/bootstrap.css" target="head" />
	<h:outputStylesheet library="css" name="login.css" target="head" />
</h:head>
<h:body>

<div class="container">
	
		<h:form id="formLogin" styleClass="form-signin">
			<h2 class="form-signin-heading">
				Memori<i class="glyphicon glyphicon-phone"></i>m
			</h2>
			
			<h:messages infoStyle="color:blue" errorStyle="color:red" layout="table" />
			
			<h:inputText id="usuario" value="#{loginBean.usuario}" 
				styleClass="form-control" pt:placeholder="Email"
				pt:type="email"/>

			<h:inputText id="senha" value="#{loginBean.senha}" 
				styleClass="form-control" pt:placeholder="Senha"
				pt:type="password"/>

			
			<h:commandButton styleClass="btn btn-lg btn-primary btn-block" action="#{loginBean.autenticar}" value="Entrar" />
		</h:form>

	</div>

</h:body>
</html>
